# CM4125 Week 2 Lab (Solved)

## Part 1: Web Scraping

In [2]:
# import required packages
import requests
from bs4 import BeautifulSoup

In [ ]:
# If you get an error when running the cells above, run this cell to install the required packages
!pip install requests
!pip install bs4
# then, run the cell above again until you get no warning message(s)

In this exercise, you will scrap data from Wikipedia. More specifically, you will design a code that lets you capture the population of the seven Scottish cities

You will scrap the following Wiki entry, making sure that you only capture data from the cities!

https://en.wikipedia.org/wiki/List_of_towns_and_cities_in_Scotland_by_population

First, I recommend you to copy-paste the code from the lecture

When you want to find the table, keep in mind the class of the table! You can do so by specifying it as:

    rows = soup.find("table", {"class":"class_of_the_table"})

In [15]:
# create two lists to put names and populations
cities = []
population = []
# define the url
url = "https://en.wikipedia.org/wiki/List_of_towns_and_cities_in_Scotland_by_population"
# request the url
r = requests.get(url)
# soup it
soup = BeautifulSoup(r.content,"html.parser")
# get the rows of the table
rows = soup.find("table", {"class":"wikitable sortable"}).find_all("tr")
for row in rows:
    cells = row.find_all("td")
    print(cells)
    if cells and "City" in cells[2].get_text(): # if city, then get name and pop
        cities.append(cells[0].get_text().split("\n")[0])
        population.append(int(cells[1].get_text().split("\\")[0].replace(",","")))
print(cities,population)

[]
[<td><a href="/wiki/Glasgow" title="Glasgow">Glasgow</a><span class="anchor" id="Glasgow"></span>
</td>, <td>612,040
</td>, <td>City
</td>, <td><a href="/wiki/Politics_of_Glasgow" title="Politics of Glasgow">Glasgow City</a>
</td>]
[<td><a href="/wiki/Edinburgh" title="Edinburgh">Edinburgh</a><span class="anchor" id="Edinburgh"></span>
</td>, <td>488,050
</td>, <td>City
</td>, <td><a href="/wiki/Politics_of_Edinburgh" title="Politics of Edinburgh">City of Edinburgh</a>
</td>]
[<td><a href="/wiki/Aberdeen" title="Aberdeen">Aberdeen</a><span class="anchor" id="Aberdeen"></span>
</td>, <td>200,680
</td>, <td>City
</td>, <td><a href="/wiki/Politics_of_Aberdeen" title="Politics of Aberdeen">Aberdeen City</a>
</td>]
[<td><a href="/wiki/Dundee" title="Dundee">Dundee</a><span class="anchor" id="Dundee"></span>
</td>, <td>148,280
</td>, <td>City
</td>, <td><a href="/wiki/Politics_of_Dundee" title="Politics of Dundee">Dundee City</a>
</td>]
[<td><a href="/wiki/Paisley,_Renfrewshire" title="Paisley, Renfrewshire">Paisley</a><span class="anchor" id="Paisley"></span>
</td>, <td>77,220
</td>, <td>Town<sup class="reference" id="cite_ref-ASP_5-0"><a href="#cite_note-ASP-5">[4]</a></sup>
</td>, <td><a href="/wiki/Renfrewshire" title="Renfrewshire">Renfrewshire</a>
</td>]
[<td><a href="/wiki/East_Kilbride" title="East Kilbride">East Kilbride</a><span class="anchor" id="East_Kilbride"></span>
</td>, <td>75,120
</td>, <td>Town
</td>, <td><a href="/wiki/South_Lanarkshire" title="South Lanarkshire">South Lanarkshire</a>
</td>]
[<td><a class="mw-redirect" href="/wiki/Livingston,_Scotland" title="Livingston, Scotland">Livingston</a><span class="anchor" id="Livingston"></span>
</td>, <td>57,030
</td>, <td>Town
</td>, <td><a href="/wiki/West_Lothian" title="West Lothian">West Lothian</a>
</td>]
[<td><a href="/wiki/Hamilton,_South_Lanarkshire" title="Hamilton, South Lanarkshire">Hamilton</a><span class="anchor" id="Hamilton"></span>
</td>, <td>54,080
</td>, <td>Town
</td>, <td><a href="/wiki/South_Lanarkshire" title="South Lanarkshire">South Lanarkshire</a>
</td>]
[<td><a href="/wiki/Dunfermline" title="Dunfermline">Dunfermline</a><span class="anchor" id="Dunfermline"></span>
</td>, <td>53,100
</td>, <td>Town
</td>, <td><a href="/wiki/Fife" title="Fife">Fife</a>
</td>]
[<td><a href="/wiki/Cumbernauld" title="Cumbernauld">Cumbernauld</a><span class="anchor" id="Cumbernauld"></span>
</td>, <td>50,920
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Kirkcaldy" title="Kirkcaldy">Kirkcaldy</a><span class="anchor" id="Kirkcaldy"></span>
</td>, <td>50,010
</td>, <td>Town
</td>, <td><a href="/wiki/Fife" title="Fife">Fife</a>
</td>]
[<td><a href="/wiki/Perth,_Scotland" title="Perth, Scotland">Perth</a><span class="anchor" id="Perth"></span>
</td>, <td>47,430
</td>, <td>City<sup class="reference" id="cite_ref-6"><a href="#cite_note-6">[5]</a></sup>
</td>, <td><a href="/wiki/Perth_and_Kinross" title="Perth and Kinross">Perth and Kinross</a>
</td>]
[<td><a href="/wiki/Inverness" title="Inverness">Inverness</a><span class="anchor" id="Inverness"></span>
</td>, <td>47,290
</td>, <td>City
</td>, <td><a href="/wiki/Highland_(council_area)" title="Highland (council area)">Highland</a>
</td>]
[<td><a href="/wiki/Ayr" title="Ayr">Ayr</a><span class="anchor" id="Ayr"></span>
</td>, <td>46,780
</td>, <td>Town
</td>, <td><a href="/wiki/South_Ayrshire" title="South Ayrshire">South Ayrshire</a>
</td>]
[<td><a href="/wiki/Kilmarnock" title="Kilmarnock">Kilmarnock</a><span class="anchor" id="Kilmarnock"></span>
</td>, <td>46,770
</td>, <td>Town
</td>, <td><a href="/wiki/East_Ayrshire" title="East Ayrshire">East Ayrshire</a>
</td>]
[<td><a href="/wiki/Coatbridge" title="Coatbridge">Coatbridge</a><span class="anchor" id="Coatbridge"></span>
</td>, <td>43,960
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Greenock" title="Greenock">Greenock</a><span class="anchor" id="Greenock"></span>
</td>, <td>42,680
</td>, <td>Town
</td>, <td><a href="/wiki/Inverclyde" title="Inverclyde">Inverclyde</a>
</td>]
[<td><a href="/wiki/Glenrothes" title="Glenrothes">Glenrothes</a><span class="anchor" id="Glenrothes"></span>
</td>, <td>38,510
</td>, <td>Town
</td>, <td><a href="/wiki/Fife" title="Fife">Fife</a>
</td>]
[<td><a href="/wiki/Stirling" title="Stirling">Stirling</a><span class="anchor" id="Stirling"></span>
</td>, <td>37,610
</td>, <td>City
</td>, <td><a class="mw-redirect" href="/wiki/Stirling_Council" title="Stirling Council">Stirling</a>
</td>]
[<td><a href="/wiki/Airdrie,_North_Lanarkshire" title="Airdrie, North Lanarkshire">Airdrie</a><span class="anchor" id="Airdrie"></span>
</td>, <td>37,410
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Falkirk" title="Falkirk">Falkirk</a><span class="anchor" id="Falkirk"></span>
</td>, <td>35,850
</td>, <td>Town
</td>, <td><a href="/wiki/Falkirk_(council_area)" title="Falkirk (council area)">Falkirk</a>
</td>]
[<td><a href="/wiki/Irvine,_North_Ayrshire" title="Irvine, North Ayrshire">Irvine</a><span class="anchor" id="Irvine"></span>
</td>, <td>34,090
</td>, <td>Town
</td>, <td><a href="/wiki/North_Ayrshire" title="North Ayrshire">North Ayrshire</a>
</td>]
[<td><a href="/wiki/Dumfries" title="Dumfries">Dumfries</a><span class="anchor" id="Dumfries"></span>
</td>, <td>33,440
</td>, <td>Town
</td>, <td><a href="/wiki/Dumfries_and_Galloway" title="Dumfries and Galloway">Dumfries and Galloway</a>
</td>]
[<td><a href="/wiki/Motherwell" title="Motherwell">Motherwell</a><span class="anchor" id="Motherwell"></span>
</td>, <td>32,590
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Rutherglen" title="Rutherglen">Rutherglen</a><span class="anchor" id="Rutherglen"></span>
</td>, <td>31,190
</td>, <td>Town
</td>, <td><a href="/wiki/South_Lanarkshire" title="South Lanarkshire">South Lanarkshire</a>
</td>]
[<td><a href="/wiki/Wishaw" title="Wishaw">Wishaw</a><span class="anchor" id="Wishaw"></span>
</td>, <td>30,290
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Cambuslang" title="Cambuslang">Cambuslang</a><span class="anchor" id="Cambuslang"></span>
</td>, <td>29,100
</td>, <td>Town
</td>, <td><a href="/wiki/South_Lanarkshire" title="South Lanarkshire">South Lanarkshire</a>
</td>]
[<td><a href="/wiki/Bearsden" title="Bearsden">Bearsden</a><span class="anchor" id="Bearsden"></span>
</td>, <td>28,120
</td>, <td>Town
</td>, <td><a href="/wiki/East_Dunbartonshire" title="East Dunbartonshire">East Dunbartonshire</a>
</td>]
[<td><a href="/wiki/Newton_Mearns" title="Newton Mearns">Newton Mearns</a><span class="anchor" id="Newton_Mearns"></span>
</td>, <td>26,600
</td>, <td>Town
</td>, <td><a href="/wiki/East_Renfrewshire" title="East Renfrewshire">East Renfrewshire</a>
</td>]
[<td><a href="/wiki/Clydebank" title="Clydebank">Clydebank</a><span class="anchor" id="Clydebank"></span>
</td>, <td>26,320
</td>, <td>Town
</td>, <td><a href="/wiki/West_Dunbartonshire" title="West Dunbartonshire">West Dunbartonshire</a>
</td>]
[<td><a href="/wiki/Elgin,_Moray" title="Elgin, Moray">Elgin</a><span class="anchor" id="Elgin"></span>
</td>, <td>24,760
</td>, <td>Town<sup class="reference" id="cite_ref-ASP_5-1"><a href="#cite_note-ASP-5">[4]</a></sup>
</td>, <td><a href="/wiki/Moray" title="Moray">Moray</a>
</td>]
[<td><a href="/wiki/Arbroath" title="Arbroath">Arbroath</a><span class="anchor" id="Arbroath"></span>
</td>, <td>23,940
</td>, <td>Town
</td>, <td><a href="/wiki/Angus,_Scotland" title="Angus, Scotland">Angus</a>
</td>]
[<td><a href="/wiki/Bishopbriggs" title="Bishopbriggs">Bishopbriggs</a><span class="anchor" id="Bishopbriggs"></span>
</td>, <td>23,540
</td>, <td>Town
</td>, <td><a href="/wiki/East_Dunbartonshire" title="East Dunbartonshire">East Dunbartonshire</a>
</td>]
[<td><a href="/wiki/Bathgate" title="Bathgate">Bathgate</a><span class="anchor" id="Bathgate"></span>
</td>, <td>22,920
</td>, <td>Town
</td>, <td><a href="/wiki/West_Lothian" title="West Lothian">West Lothian</a>
</td>]
[<td><a href="/wiki/Renfrew" title="Renfrew">Renfrew</a><span class="anchor" id="Renfrew"></span>
</td>, <td>22,570
</td>, <td>Town
</td>, <td><a href="/wiki/Renfrewshire" title="Renfrewshire">Renfrewshire</a>
</td>]
[<td><a href="/wiki/Kirkintilloch" title="Kirkintilloch">Kirkintilloch</a><span class="anchor" id="Kirkintilloch"></span>
</td>, <td>21,380
</td>, <td>Town
</td>, <td><a href="/wiki/East_Dunbartonshire" title="East Dunbartonshire">East Dunbartonshire</a>
</td>]
[<td><a href="/wiki/Musselburgh" title="Musselburgh">Musselburgh</a><span class="anchor" id="Musselburgh"></span>
</td>, <td>20,840
</td>, <td>Town
</td>, <td><a href="/wiki/East_Lothian" title="East Lothian">East Lothian</a>
</td>]
[<td><a href="/wiki/Dumbarton" title="Dumbarton">Dumbarton</a><span class="anchor" id="Dumbarton"></span>
</td>, <td>20,560
</td>, <td>Town
</td>, <td><a href="/wiki/West_Dunbartonshire" title="West Dunbartonshire">West Dunbartonshire</a>
</td>]
[<td><a href="/wiki/Bellshill" title="Bellshill">Bellshill</a><span class="anchor" id="Bellshill"></span>
</td>, <td>20,290
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Peterhead" title="Peterhead">Peterhead</a><span class="anchor" id="Peterhead"></span>
</td>, <td>19,270
</td>, <td>Town
</td>, <td><a href="/wiki/Aberdeenshire" title="Aberdeenshire">Aberdeenshire</a>
</td>]
[<td><a href="/wiki/Barrhead" title="Barrhead">Barrhead</a><span class="anchor" id="Barrhead"></span>
</td>, <td>17,610
</td>, <td>Town
</td>, <td><a href="/wiki/East_Renfrewshire" title="East Renfrewshire">East Renfrewshire</a>
</td>]
[<td><a href="/wiki/St_Andrews" title="St Andrews">St Andrews</a><span class="anchor" id="St_Andrews"></span>
</td>, <td>17,580
</td>, <td>Town
</td>, <td><a href="/wiki/Fife" title="Fife">Fife</a>
</td>]
[<td><a href="/wiki/Bonnyrigg" title="Bonnyrigg">Bonnyrigg</a><span class="anchor" id="Bonnyrigg"></span>
</td>, <td>17,530
</td>, <td>Town
</td>, <td><a href="/wiki/Midlothian" title="Midlothian">Midlothian</a>
</td>]
[<td><a href="/wiki/Blantyre,_South_Lanarkshire" title="Blantyre, South Lanarkshire">Blantyre</a><span class="anchor" id="Blantyre"></span>
</td>, <td>16,900
</td>, <td>Town
</td>, <td><a href="/wiki/South_Lanarkshire" title="South Lanarkshire">South Lanarkshire</a>
</td>]
[<td><a href="/wiki/Grangemouth" title="Grangemouth">Grangemouth</a><span class="anchor" id="Grangemouth"></span>
</td>, <td>16,650
</td>, <td>Town
</td>, <td><a href="/wiki/Falkirk_(council_area)" title="Falkirk (council area)">Falkirk</a>
</td>]
[<td><a href="/wiki/Kilwinning" title="Kilwinning">Kilwinning</a><span class="anchor" id="Kilwinning"></span>
</td>, <td>16,460
</td>, <td>Town
</td>, <td><a href="/wiki/North_Ayrshire" title="North Ayrshire">North Ayrshire</a>
</td>]
[<td><a href="/wiki/Penicuik" title="Penicuik">Penicuik</a><span class="anchor" id="Penicuik"></span>
</td>, <td>16,120
</td>, <td>Town
</td>, <td><a href="/wiki/Midlothian" title="Midlothian">Midlothian</a>
</td>]
[<td><a href="/wiki/Johnstone" title="Johnstone">Johnstone</a><span class="anchor" id="Johnstone"></span>
</td>, <td>16,090
</td>, <td>Town
</td>, <td><a href="/wiki/Renfrewshire" title="Renfrewshire">Renfrewshire</a>
</td>]
[<td><a href="/wiki/Viewpark" title="Viewpark">Viewpark</a><span class="anchor" id="Viewpark"></span>
</td>, <td>15,770
</td>, <td>Town
</td>, <td><a href="/wiki/North_Lanarkshire" title="North Lanarkshire">North Lanarkshire</a>
</td>]
[<td><a href="/wiki/Erskine" title="Erskine">Erskine</a><span class="anchor" id="Erskine"></span>
</td>, <td>15,510
</td>, <td>Town
</td>, <td><a href="/wiki/Renfrewshire" title="Renfrewshire">Renfrewshire</a>
</td>]
[<td><a class="mw-redirect" href="/wiki/Broxburn,_West_Lothian" title="Broxburn, West Lothian">Broxburn</a><span class="anchor" id="Broxburn"></span>
</td>, <td>15,440
</td>, <td>Town
</td>, <td><a href="/wiki/West_Lothian" title="West Lothian">West Lothian</a>
</td>]

In the end, you should have a data frame that looks something like this:

In [4]:
import pandas as pd
scotland = pd.DataFrame({'City':cities,'Population':population})
scotland

        City  Population
0    Glasgow      612040
1  Edinburgh      488050
2   Aberdeen      200680
3     Dundee      148280
4      Perth       47430
5  Inverness       47290
6   Stirling       37610

Another (more complicated option) is to scrap the data from each Wikipedia entry:
     
    https://en.wikipedia.org/wiki/Dundee
    https://en.wikipedia.org/wiki/Edinburgh
    https://en.wikipedia.org/wiki/Glasgow
    https://en.wikipedia.org/wiki/Aberdeen
    https://en.wikipedia.org/wiki/Perth,_Scotland
    https://en.wikipedia.org/wiki/Inverness
    https://en.wikipedia.org/wiki/Stirling

The following solution only works for some of the websites. Do you think you can fix it?

### I HONESTLY DON'T KNOW!

In [5]:
## Works for these
url = "https://en.wikipedia.org/wiki/Inverness"
#url = "https://en.wikipedia.org/wiki/Perth,_Scotland"
#url = "https://en.wikipedia.org/wiki/Stirling"
## But not for these
#url = "https://en.wikipedia.org/wiki/Dundee"
#url = "https://en.wikipedia.org/wiki/Edinburgh"
#url = "https://en.wikipedia.org/wiki/Glasgow"
#url = "https://en.wikipedia.org/wiki/Aberdeen"

r = requests.get(url)
soup = BeautifulSoup(r.content,"html.parser")
rows = soup.find("table", {"class":"infobox geography vcard"}).find_all("tr")
for row in rows:
    cells = row.find_all("th")
    if cells and cells[0].get_text() == "Population":
        data_cells = row.find_all("td")
        pop = int(data_cells[0].get_text().split("(")[0].strip().replace(",",""))
print(pop)

70000

## Part 2: Exploring Data

In [16]:
import pandas as pd

For this lab, we will be importing the data set `films.csv`

Download this file from moodle into the same directory as this `.ipynb` notebook

Use Pandas' `read_csv` function, specifying column `0` as the index column. This column is the `imdb_id`, a unique identifier assigned by the Internet Movie Database (IMDB)

Store the dataframe into an appropriately named value, such as `films` or another name of your choice

In [17]:
films = pd.read_csv('films.csv', index_col=0)

Use `head` to show the first `3` rows

In [8]:
films.head(3)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

You should see that the index of these rows is `tt0000417`, `tt0000439`, and `tt0006206`

In this data set we will only be using a few columns:

- `imdb_id` is the unique index of the film in the *Internet Movie DataBase*
- `title` is the title of the film
- `year` is the year the film was released
- `imdb_votes` is the number of rating the film has received from users.

Check that you get the same result by using `iloc` with a numerical range `0:3`

In [9]:
films.iloc[0:3]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

Use 'loc' with a range to retrieve the same three rows

In [10]:
films.loc['tt0000417':'tt0006206']

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

Get a random sampling of `5` films to display in the notebook

In [11]:
films.sample(5)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0468492,NaN,NaN,NaN,NaN,NaN,True,The Host,2006,R,30-Mar-07,120,"Comedy, Drama, Horror",Joon-ho Bong,"Joon-ho Bong (screenplay), Won-jun Ha (screenp...","Korean, English",South Korea,20 wins & 15 nominations.,85.0,7.0,69727
tt0032145,NaN,73.0,NaN,NaN,NaN,True,Wuthering Heights,1939,PASSED,7-Apr-39,104,"Drama, Romance",William Wyler,"Charles MacArthur (screen play), Ben Hecht (sc...",English,USA,Won 1 Oscar. Another 3 wins & 7 nominations.,NaN,7.7,12799
tt0077405,NaN,NaN,NaN,NaN,True,True,Days of Heaven,1978,PG,13-Sep-78,94,"Drama, Romance",Terrence Malick,Terrence Malick,"English, Italian",USA,Won 1 Oscar. Another 12 wins & 12 nominations.,93.0,8.0,37852
tt0093565,NaN,NaN,62.0,NaN,NaN,True,Moonstruck,1987,PG,15-Jan-88,102,"Comedy, Drama, Romance",Norman Jewison,John Patrick Shanley,"English, Italian",USA,Won 3 Oscars. Another 15 wins & 18 nominations.,83.0,7.1,35752
tt0265343,NaN,NaN,NaN,NaN,NaN,True,Monsoon Wedding,2001,R,26-Apr-02,114,"Comedy, Drama, Romance",Mira Nair,Sabrina Dhawan,"Hindi, English","India, USA, Italy, Germany, France",Nominated for 1 Golden Globe. Another 6 wins &...,77.0,7.4,19643

Re-run the cell a few times to check that it is randomly choosing each time

**Q. Which film has the index `tt0435761`?**

In [12]:
films.loc['tt0435761']

rank_afc_2007                                                              NaN
rank_afc_1998                                                              NaN
rank_wga_2005                                                              NaN
rank_ss_2012                                                               NaN
included_in_guardian_list                                                  NaN
included_in_1001_book                                                     True
title                                                              Toy Story 3
year                                                                      2010
rated                                                                        G
released                                                             18-Jun-10
runtime                                                                    103
genre                                             Animation, Adventure, Comedy
director                                                           Lee Unkrich
writer                       John Lasseter (story by), Andrew Stanton (stor...
language                                                      English, Spanish
country                                                                    USA
awards                         Won 2 Oscars. Another 58 wins & 89 nominations.
metascore                                                                   92
imdb_rating                                                                8.3
imdb_votes                                                              549330
Name: tt0435761, dtype: object

Answer: Toy Story 3

Display a `DataFrame` containing only films `tt0015361` and `tt0059817`

In [13]:
films.loc[['tt0015361', 'tt0059817']]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0015361,NaN,NaN,NaN,NaN,NaN,True,Strike,1925,NOT RATED,NaN,82,Drama,Sergei M. Eisenstein,"Grigori Aleksandrov, Sergei M. Eisenstein, Ily...",NaN,Soviet Union,NaN,NaN,7.6,4904
tt0059817,NaN,NaN,NaN,NaN,NaN,True,Tokyo Olympiad,1965,NOT RATED,28-Jul-65,93,"Documentary, Sport",Kon Ichikawa,"Kon Ichikawa, Yoshio Shirasaka, Shuntar_´ Tani...",Japanese,Japan,4 wins & 2 nominations.,NaN,8.0,1094

**Q. Which two films are these?**

Answer: Strike and Tokyo Olympiad

Using `iloc`, display a dataframe containing only rows indexed `57`, `79`, and `190`

In [14]:
films.iloc[[57, 79, 190]]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0022100,NaN,NaN,NaN,NaN,NaN,True,M,1931,NOT RATED,31-Aug-31,99,"Crime, Drama, Mystery",Fritz Lang,"Thea von Harbou (script), Fritz Lang (script)",German,Germany,2 wins.,NaN,8.4,99611
tt0024028,NaN,NaN,NaN,NaN,NaN,True,Footlight Parade,1933,G,21-Oct-33,104,"Comedy, Musical, Romance",Lloyd Bacon,"Manuel Seff (screen play), James Seymour (scre...","English, French",USA,1 win.,NaN,7.8,3367
tt0038890,NaN,NaN,NaN,NaN,True,True,"Rome, Open City",1945,APPROVED,27-Sep-45,103,"Drama, Thriller, War",Roberto Rossellini,"Sergio Amidei (screenplay), Federico Fellini (...","German, Italian, Latin",Italy,Nominated for 1 Oscar. Another 7 wins.,NaN,8.1,16080

Using `loc`, display the same three films

In [15]:
films.loc[['tt0022100', 'tt0024028', 'tt0038890']]

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0022100,NaN,NaN,NaN,NaN,NaN,True,M,1931,NOT RATED,31-Aug-31,99,"Crime, Drama, Mystery",Fritz Lang,"Thea von Harbou (script), Fritz Lang (script)",German,Germany,2 wins.,NaN,8.4,99611
tt0024028,NaN,NaN,NaN,NaN,NaN,True,Footlight Parade,1933,G,21-Oct-33,104,"Comedy, Musical, Romance",Lloyd Bacon,"Manuel Seff (screen play), James Seymour (scre...","English, French",USA,1 win.,NaN,7.8,3367
tt0038890,NaN,NaN,NaN,NaN,True,True,"Rome, Open City",1945,APPROVED,27-Sep-45,103,"Drama, Thriller, War",Roberto Rossellini,"Sergio Amidei (screenplay), Federico Fellini (...","German, Italian, Latin",Italy,Nominated for 1 Oscar. Another 7 wins.,NaN,8.1,16080

Create a dataframe containing all films in the data set where the `year` is `2000` or later

Store this new dataset in a new variable called `films2k`

In [16]:
films2k = films[films['year'] >= 2000]

**Q. How many films from this data set are from `2000` or later?**

In [17]:
len(films2k)

206

Answer: 206

**Q. What is the median (`50%`) `runtime` of the films in the data set from the year 2000 onwards?**

Hint: you can use the `describe` function to see the statistics of a dataframe

In [18]:
films2k.describe()

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,year,runtime,metascore,imdb_rating,imdb_votes
count,1.0,0.0,3.000000,2.000000,206.000000,206.000000,202.000000,206.000000,2.060000e+02
mean,50.0,NaN,89.000000,26.000000,2007.368932,121.310680,80.980198,7.720388,2.546437e+05
std,NaN,NaN,11.532563,2.828427,5.003395,29.785093,9.509859,0.509013,2.916283e+05
min,50.0,NaN,77.000000,24.000000,2000.000000,80.000000,47.000000,5.900000,1.200000e+01
25%,50.0,NaN,83.500000,25.000000,2003.000000,102.000000,74.250000,7.400000,3.857050e+04
50%,50.0,NaN,90.000000,26.000000,2007.000000,118.000000,82.000000,7.700000,1.525265e+05
75%,50.0,NaN,95.000000,27.000000,2012.000000,134.000000,88.000000,8.000000,3.637630e+05
max,50.0,NaN,100.000000,28.000000,2016.000000,383.000000,100.000000,9.000000,1.699835e+06

Answer: 118 minutes

**Q. What is the median `runtime` for films between the years 1990 and 1999 in the films data set?**

In [19]:
films90s = films[(films['year'] >= 1990) & (films['year'] < 2000)]
films90s.describe()

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,year,runtime,metascore,imdb_rating,imdb_votes
count,11.000000,8.000000,17.000000,2.000000,165.000000,165.000000,117.000000,165.000000,1.650000e+02
mean,75.090909,73.875000,46.470588,38.500000,1994.551515,123.139394,76.726496,7.665455,1.921053e+05
std,24.598596,28.866379,20.877972,4.949747,2.905852,40.977968,10.430909,0.573038,3.128316e+05
min,8.000000,9.000000,16.000000,35.000000,1990.000000,73.000000,47.000000,6.100000,1.820000e+02
25%,71.500000,69.500000,30.000000,36.750000,1992.000000,100.000000,69.000000,7.300000,1.371500e+04
50%,76.000000,79.500000,41.000000,38.500000,1995.000000,112.000000,77.000000,7.700000,5.055800e+04
75%,90.500000,94.250000,61.000000,40.250000,1997.000000,134.000000,85.000000,8.100000,1.914860e+05
max,99.000000,98.000000,89.000000,42.000000,1999.000000,450.000000,100.000000,9.300000,1.711064e+06

Answer: 112 minutes

Create a dataframe of 90's films, sorted by `title`, in the variable `films90s_sorted`.

In [20]:
films90s_sorted = films90s.sort_values('title')

Display the first `5` items in `films90s_sorted`

In [21]:
films90s_sorted.head(5)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0101985,NaN,NaN,NaN,NaN,NaN,True,A Brighter Summer Day,1991,NOT RATED,25-Nov-11,237,"Crime, Drama, Romance",Edward Yang,"Hung Hung, Mingtang Lai, Alex Yang, Edward Yang","Mandarin, Min Nan, Shanghainese",Taiwan,8 wins & 12 nominations.,90.0,8.4,2872
tt0104008,NaN,NaN,NaN,NaN,NaN,True,A Tale of Winter,1992,NaN,29-Jan-92,114,Drama,_ric Rohmer,_ric Rohmer,French,France,2 wins & 1 nomination.,NaN,7.6,2574
tt0103634,NaN,NaN,NaN,NaN,NaN,True,Aileen Wuornos: The Selling of a Serial Killer,1992,R,4-Feb-94,87,"Documentary, Crime",Nick Broomfield,Nick Broomfield,English,UK,1 nomination.,NaN,7.0,1618
tt0099012,NaN,NaN,NaN,NaN,NaN,True,Alice,1990,PG-13,10-Jan-91,102,"Comedy, Fantasy, Romance",Woody Allen,Woody Allen,"English, Cantonese",USA,Nominated for 1 Oscar. Another 1 win & 5 nomin...,NaN,6.6,10644
tt0185125,NaN,NaN,NaN,NaN,NaN,True,All About My Mother,1999,R,31-Mar-00,101,Drama,Pedro Almod__var,Pedro Almod__var,"Spanish, Catalan","Spain, France",Won 1 Oscar. Another 56 wins & 37 nominations.,87.0,7.9,69368

Show the 90's films sorted in **descending** order by `imbd_votes`, displaying only the first 10

In [22]:
films90s_by_votes = films90s.sort_values('imdb_votes', ascending=False)
films90s_by_votes.head(10)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0111161,72.0,NaN,22.0,NaN,NaN,True,The Shawshank Redemption,1994,R,14-Oct-94,142,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...",English,USA,Nominated for 7 Oscars. Another 18 wins & 30 n...,80.0,9.3,1711064
tt0137523,NaN,NaN,NaN,NaN,NaN,True,Fight Club,1999,R,15-Oct-99,139,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)",English,"USA, Germany",Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,1359025
tt0110912,94.0,95.0,16.0,NaN,True,True,Pulp Fiction,1994,R,14-Oct-94,154,"Crime, Drama",Quentin Tarantino,"Quentin Tarantino (story), Roger Avary (story)...","English, Spanish, French",USA,Won 1 Oscar. Another 60 wins & 65 nominations.,94.0,8.9,1334945
tt0109830,76.0,71.0,89.0,NaN,NaN,True,Forrest Gump,1994,PG-13,6-Jul-94,142,"Comedy, Drama",Robert Zemeckis,"Winston Groom (novel), Eric Roth (screenplay)",English,USA,Won 6 Oscars. Another 39 wins & 65 nominations.,82.0,8.8,1268383
tt0133093,NaN,NaN,NaN,NaN,True,True,The Matrix,1999,R,31-Mar-99,136,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski",English,USA,Won 4 Oscars. Another 33 wins & 43 nominations.,73.0,8.7,1233966
tt0114369,NaN,NaN,NaN,NaN,NaN,True,Se7en,1995,R,22-Sep-95,127,"Crime, Drama, Mystery",David Fincher,Andrew Kevin Walker,English,USA,Nominated for 1 Oscar. Another 25 wins & 34 no...,65.0,8.6,1039302
tt0102926,74.0,65.0,61.0,NaN,NaN,True,The Silence of the Lambs,1991,R,14-Feb-91,118,"Crime, Drama, Thriller",Jonathan Demme,"Thomas Harris (novel), Ted Tally (screenplay)",English,USA,Won 5 Oscars. Another 48 wins & 34 nominations.,84.0,8.6,900711
tt0120815,71.0,NaN,NaN,NaN,NaN,True,Saving Private Ryan,1998,R,24-Jul-98,169,"Action, Drama, War",Steven Spielberg,Robert Rodat,"English, French, German, Czech",USA,Won 5 Oscars. Another 74 wins & 74 nominations.,90.0,8.6,888014
tt0108052,8.0,9.0,49.0,NaN,NaN,True,Schindler's List,1993,R,4-Feb-94,195,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","English, Hebrew, German, Polish",USA,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,877500
tt0169547,NaN,NaN,38.0,NaN,NaN,True,American Beauty,1999,R,1-Oct-99,122,"Drama, Romance",Sam Mendes,Alan Ball,English,USA,Won 5 Oscars. Another 103 wins & 96 nominations.,86.0,8.4,827773

You should see that the most voted film (The Shawshank Redemption) has $1711064$ votes

**Q. Which 90's film received the second-most votes?**

In [23]:
films90s_by_votes.iloc[1]['title']

'Fight Club'

Answer: Fight Club

**Q. Which 90's film received the twentieth-most votes?**

In [24]:
films90s_by_votes.iloc[19]['title']

'Jurassic Park'

Answer: Jurassic Park